@charset "UTF-8";

body{
    background: rgb(238, 237, 237);
}

.title{
    margin: 1vw;
    font-size: 20pt;
}

.panel-heading {
    border-color: rgb(23, 162, 184);
    border: 5px;
}

.panel {
    box-shadow: 3px 3px 3px rgb(0 0 0 / 5%);
    margin-left: 1vw;
    margin-right: 1vw;
    margin-top: 0.5vw;

    border:3px solid rgb(23, 162, 184);
    border-bottom: 0px;
    border-right: 0px;
    border-left: 0px;
}

.panel-body{
    font-weight: bold;
}

.listbox{
    float: left;
    width: 64vw;
    margin: 0px;
    padding: 0px;
    max-height: 88vh;
}

#boardt{
    overflow: auto;
    max-height: 75vh;
}

.tablehead{
    background: rgb(23, 162, 184);
    color: white;
}

.tablecontent{
    font-weight: normal;
    cursor: pointer;
}

.inputbox{
    float: right;
    width: 33vw;
    margin: 0px;
    padding: 0px;
}

.pagination{
    float: right;
}

.pagination>li>a, .pagination>li>span{
    color: gray;
}

.dropdown-toggle{
    background: white;
    width: 100%;
    height: 34px;
}

.dropdown-toggle > .caret{
    float: right;
}

.dropdown-menu{
    width: 100%;
}

[role="menuitem"]{
    width: 100%;
    height: 34px;
}

.btn-primary{
    background: rgb(23, 162, 184);
    border: 0px;
}

.btn-danger{
    border: 0px;
    background: #d9534f
}

.btn-default{
    border: 0px;
    background: gray;
    color: white;
}

.buttongruops{
    float: right;
}

.row{
    margin-left: 1em;
    margin-right: 1em;
}

#sptableheader{
    width:100%;
}

#spbtn{
    float: right;
}

.pcinputs, .pceqinputs{
    width: 15vw;
    display:inline-block;
    margin-right: 2px;
}

#insertpceqinputbody{
    border: 0px;
    margin-left: auto;
    margin-right: auto;
}

.selectlist{
    background: white;
    width: 15vw;
}

#pcinchargeselect, #selpcinchargeselect{
    width: 30vw;
}

.dropdown-menu{
    width: 100%;
}

[role="menuitem"]{
    width: 100%;
    height: 34px;
}

.stdWtinput{
    display: inline-block;
    width: 45%;
}

.inchargelist{
    width: 95%;
}

.inchargelist .tablecontent, .inchargelist th{
    text-align: center;
    cursor: auto;
}

.selecteduserrow{
    background: lightgray;
}

.tablecontent input{
    width: 20px;
}

#inchargemodal .modal-body div{
    max-height: 70vh;
    overflow: auto;
}