#menup{
    position: fixed;
} 

#userinfo{
    display: flex;
    justify-content: flex-end;
}

.navbar-header{
    width: 100vw;
}

#useralarmicon{
    font-size: 20px;
    margin-right: 5px;
}

#useralarmicon2{
    background: red;
}

#useralarm{
    margin-left: 0px;
    display: flex;
    justify-content: space-between;
}

#useralarm:hover{
    text-decoration-line: none;
    color: rgb(80, 80, 80);
}

#user{
    cursor: pointer;
}

#menuicon{
	margin-left:305px;
}

.navbar-default{
	margin:0px;
}