@charset "UTF-8";
body{
    background: rgb(238, 237, 237);
}

.panel-heading {
    border-color: rgb(68,80,132);
    border: 5px;
    height: 60px;
}

.panel-title{
    padding-top: 10px;
    padding-bottom: 10px;
}

.panel {
    box-shadow: 3px 3px 3px rgb(0 0 0 / 5%);
    margin-left: 1vw;
    margin-right: 1vw;
    margin-top: 0.5vw;

    border:3px solid rgb(68,80,132);
    border-bottom: 0px;
    border-right: 0px;
    border-left: 0px;
}

.searchbox{
    width: 98vw;
}

.title{
    margin-left: 1vw;
    margin-right: 1vw;
    margin-top: 1vw;
    font-size: 20pt;
}

.panel-body{
    font-weight: bold;
}

.listbox{
    margin: 0px;
    padding: 0px;
    width: 98vw;
}

.tablehead{
    background: rgb(68,80,132);
    color: white;
}

.tablecontent{
    font-weight: normal;
    cursor: pointer;
}

.pagination{
    float: right;
}

.pagination>li>a, .pagination>li>span{
    color: gray;
}

.btn-primary{
    background: rgb(68,80,132);
    border: 0px;
}

.btn-primary:disabled{
	background: rgb(68,80,132);
    border: 0px;
    opacity: 1;
    display: inline-block;
}

.btn-danger{
    border: 0px;
    background: #d9534f
}

.btn-default{
	background:gray;
	border: 0px;
	color: white;
}

.buttongruops{
    float: right;
}

.searchtext{
    width: 15%;
    display: table-cell;
}

.row{
    margin-left: 1vw;
    margin-right: 1vw;
}

.modal-dialog{
    width:95vw;
}

