body{
    background: rgb(238, 237, 237);
}

.panel-heading {
    border-color: rgb(23, 162, 184);
    border: 5px;
    height: 60px;
}

.panel-title{
    padding-top:10px;
    padding-bottom: 10px;
}

.panel {
    box-shadow: 3px 3px 3px rgb(0 0 0 / 5%);
    margin-left: 1vw;
    margin-right: 1vw;
    margin-top: 0.5vw;

    border:3px solid rgb(23, 162, 184);
    border-bottom: 0px;
    border-right: 0px;
    border-left: 0px;
}

.warningredbox, .warningboxexp, .completegreenbox, .completegreenexp{
    border-radius: 5px;
    box-shadow: 3px 3px 3px rgb(0 0 0 / 5%);
}

.warningredbox{
    background:rgb(227, 183, 190);
    width:30px;
    height:40px;
}
.completegreenbox{
	background:rgb(214, 233, 198);
    width:30px;
    height:40px;
}

.searchbox{
    width: 98vw;
}

.title{
    margin-left: 1vw;
    margin-right: 1vw;
    margin-top: 1vw;
    font-size: 20pt;
}

.panel-body{
    font-weight: bold;
}

.orderlistbox{
    float: left;
    width: 48.5vw;
    margin: 0px;
    padding: 0px;
}

.table_head{
    background: rgb(23, 162, 184);
    color: white;
}

.tablecontent{
    font-weight: normal;
    cursor: pointer;
}

.orderinputbox{
    float: right;
    width: 48.5vw;
    margin: 0px;
    padding: 0px;
}

.pagination{
    float: right;
}

.pagination>li>a, .pagination>li>span{
    color: gray;
}

.quotation{
    float: left;
    width: 48%;
}

.itemno{
    float: right;
    width: 48%;
}
.company{
    float: left;
    width: 48%;
}
.orderday{
    float: right;
    width: 48%;
}
#cover1{
	text-align:center;	
}
.classification, .parts, .car, .productname, .amount, .negotiate, .expectedday, .processcompletionday, .dueday{
    display:inline-block;
    zoom:1;
    width: 31%;
    margin-right:14px;
}

.btn-primary{
    background: rgb(23, 162, 184);
    border: 0px;
}

.btn-danger{
    border: 0px;
    background: #d9534f
}

.buttongruops{
    float: right;
}

.searchtitle{
    width: 10%;
    display: table-cell;
}
.row{
    margin-left: 1em;
    margin-right: 1em;
}
.pagination{
    float: right;
}

.pagination>li>a, .pagination>li>span{
    color: gray;
}


