body{
    background: rgb(238, 237, 237);
}

.panel-heading {
    border-color: rgb(68, 80, 132);
    border: 5px;
    height: 60px;
}

.panel-title{
    padding-top:10px;
    padding-bottom: 10px;
}

.panel {
    box-shadow: 3px 3px 3px rgb(0 0 0 / 5%);
    margin-left: 1vw;
    margin-right: 1vw;
    margin-top: 0.5vw;

    border:3px solid rgb(68, 80, 132);
    border-bottom: 0px;
    border-right: 0px;
    border-left: 0px;
}

.searchbox{
    width: 98vw;
}

.title{
    margin-left: 1vw;
    margin-right: 1vw;
    margin-top: 1vw;
    font-size: 20pt;
}

.panel-body{
    font-weight: bold;
}

.companylistbox{
    float: left;
    width: 48.5vw;
    margin: 0px;
    padding: 0px;
}

.table_head{
    background: rgb(68, 80, 132);
    color: white;
}

.tablecontent{
    font-weight: normal;
    cursor: pointer;
}

.companyinputbox{
    float: right;
    width: 48.5vw;
    margin: 0px;
    padding: 0px;
}

.pagination{
    float: right;
}

.pagination>li>a, .pagination>li>span{
    color: gray;
}

.postal_code{
    float: left;
    width: 48%;
}

.address{
    float: right;
    width: 48%;
}

#cover1{
   text-align:center;   
}
.com_name, .abbreviation, .customers_sortation, .client_status, .customers_group, .representative, .manager_phone, .email, .using_YN{
    display:inline-block;
    zoom:1;
    width: 31%;
    margin-right:14px;
}

.com_registration_num, .phone, .fax, .manager_name{
    display:inline-block;
    zoom:1;
    width: 22%;
    margin-right:20px;
}

.btn-primary{
    background: rgb(68, 80, 132);
    border: 0px;
}

.btn-danger{
    border: 0px;
    background: #d9534f
}

.buttongruops{
    float: right;
}

.searchtitle{
    width: 10%;
    display: table-cell;
}
.row{
    margin-left: 1em;
    margin-right: 1em;
}
.pagination{
    float: right;
}

.pagination>li>a, .pagination>li>span{
    color: gray;
}
.excel{
   float:right;
}
