#sidemenu{
    color: white;
    background: rgb(28, 101, 112);
    width: 310px;
}

a{
    color:white;
}

a:focus, a:hover{
    color: white;
    text-decoration-line: none;
}

.sidebar {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    z-index: 1000;
    display: block;
    padding: 20px;
    overflow-x: hidden;
    overflow-y: auto;
    border: 0;
}

#psubtitle{
    margin-top: 2rem;
    margin-bottom: 2rem;
}

ul{
    padding-left: 20px;
    font-size: large;
    padding: 5px;
    padding-left: 30px;
}

li{
    padding: 5px;
}